* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
}

.page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100vw;
}

h1 {
  background-color: rgba(0, 0, 0, 0.271);
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4vh;
  margin-top: 4vh;
  font-size: 3rem;
}

p {
  margin: 4vh;
}

.body {
  display: flex;
  margin: 1vw;
  height: 50vh;
  width: 100vw;
}

.book {
  width: 15vw;
}

.input-field {
  width: 20vw;
  height: 20vh;
}

#form {
  display: flex;
  flex-direction: column;
}

.form-line {
  display: flex;
  justify-content: space-between;
}